* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shere style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section-heading {
    max-width: 827px; 
    text-align: center;
    margin: 0 auto;
    /* justify-content: center; */
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
    /* text-align: center; */
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style */

header {
    background-color: #fff8f3;
    background:  url(../images/developer.png), url(../images/header_bg.png)#fff8f3;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    padding-top: 50px;
}

nav {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 45px;
    font-weight:  900;
}
.logo h2 span {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu li {
    list-style: none;
    display: inline-block;
}

nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner {
    display: flex;
    margin: 39px 38px 7px 230px;
    /* border: 1px solid #000; */
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content {
    max-width: 600px;
    vertical-align: middle;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;

}
#banner  .banner-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#about {
    padding: 130px;
}
.text-center {
    text-align: center;
}
#about .about-container {
    /* border: 1px solid blue; */
    padding: 131px 157px;
    background-color:  #FFF8F3;
    width: 71%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .about-card {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .about-card h4 {
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}

#skills {
    padding-top: 130px;
    text-align: center;
}

#skills .skill-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skill-box {
    display: flex;
    gap: 24px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box .skill-card {
    padding: 30px 33px 30px 30px;
    box-shadow: 0 6px 50px 0 #00000021;
    text-align: left;
    max-width: 267px;
    justify-content: left;
    margin-top: 20px;
}
.skill-box .skill-card img {
    margin-bottom: 30px;
    max-width: 44px;
}

.skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 174px;
}

.skill-card p {
    font-size: 16px;
    color:#757575;
    line-height: 28px;
}

#resume {
    padding-top: 130px;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 20px;
}
.resume-container hr {
    margin: 30px 0;
}

.resume-container .section-title {
    color:#474747;
    font-size: 30px;
    margin-bottom: 30px;
}

.resume-card {
    max-width: 511px;
    margin-right: 47px;
}

.resume-card   .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resume-card   .card-info {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #757575;
}
.resume-card   .card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}

.footer-container h2 {
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social {
    max-width: 562px;
}

.footer-container .social p {
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"], .footer-container form textarea, .footer-container form input[type="email"] {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    color: #757575;
}