* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shere style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

/* main style */

header {
    background-color: #fff8f3;
    padding-top: 50px;
}

nav {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 45px;
    font-weight:  900;
}
.logo h2 span {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu li {
    list-style: none;
    display: inline-block;
}

nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}