* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shere style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.section-heading {
    /* max-width: 827px; */
    text-align: center;
    /* justify-content: center; */
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
    /* text-align: center; */
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style */

header {
    background-color: #fff8f3;
    background:  url(../images/developer.png), url(../images/header_bg.png)#fff8f3;
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    padding-top: 50px;
}

nav {
    width: 75%;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2 {
    font-size: 45px;
    font-weight:  900;
}
.logo h2 span {
    color: #FD6E0A;
}

nav .menu {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav .menu li {
    list-style: none;
    display: inline-block;
}

nav .menu li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

#banner {
    display: flex;
    margin: 39px 38px 7px 230px;
    /* border: 1px solid #000; */
    justify-content: space-between;
    align-items: center;
    
}
#banner .banner-content {
    max-width: 600px;
    vertical-align: middle;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 55px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;

}
#banner  .banner-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#about {
    padding: 130px;
}
#about .about-container {
    /* border: 1px solid blue; */
    padding: 131px 157px;
    background-color:  #FFF8F3;
    width: 71%;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .about-card {
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .about-card h4 {
    font-size: 20px;
    color: #474747;
    line-height: 30px;
}
